/*
 * CSS for Amtrak Train Schedule
 */
 body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0; 
}

.jumbotron {
    background-color: #7f462c;
    color: #fff;
    border-radius: 1%;
}

.main-header {
    margin-left: 10px;
    display: inline-block;
} 

.card-header,
.form-button
.cancel-button,
.add-train-button,
.refresh-button,
.edit-button,
.delete-button {
    background-color: #337ab7;
    color: #fff;
}

.train-config-area {
    margin-top: 20px;
}

.form-label {
    font-weight: bold;
}

.form-group {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.submit-button,
.cancel-button,
.add-train-button,
.refresh-button,
.edit-button,
.delete-button {
    margin-top: 10px;
    margin-left: 10px;
}
.submit-button,
.cancel-button {
    margin-bottom: 10px;
}

.submit-button:hover,
.cancel-button:hover,
.add-train-button:hover,
.refresh-button:hover,
.edit-button.hover,
.delete-button.hover { 
    background-color: #7f462c;
}

.config-message {
    font-weight: bold;
    font-size: 20px;
    color: red;
    margin-left: 10px;
}

.edit-dropdown,
.delete-dropdown {
    display: inline-block;
}

.train-config-area,
.edit-dropdown,
.delete-dropdown {
    display: none;
}